{% extends 'barraMenu.html' %}
{% load static %}
{% block principal %}
	<div class="container mt-5">
		<div class="row border border-dark">
			<div class="col-12">
		      <h6 class="text-muted">Carrito de compras</h6> 
		      <ul class="list-group">
				{% for producto in SQLCarrito %}
		        <li class="list-group-item d-flex justify-content-between align-items-center text-break">
		          	<div class="image-parent">
		              	<img src="/media/{{producto.foto}}" class="img-fluid img-carrito">
		          	</div class="text-break">
		          	<div>
						<h3>{{producto.nombre}}</h3>
			          	<span class="small">{{producto.descripcion}}</span>
		          	</div>
			        <div class="pl-5 pr-5">
				  		<button type="button" class="btn rounded-circle bg-warning"><i class="far fa-trash-alt" onclick="quitar({{producto.id_producto}})"></i></button>
					  	<h6 class="text-center">{{producto.final}} {{local}}</h6>
					  	<h6 class="small">{{producto.precio}} {{local}} c/u</h6>
				  		<select class="custom-select" id="inlineFormCustomSelectPref" onchange="cambiarStock({{producto.id_producto}})">
							{% with ''|center:producto.stock as range %}
							{% for numero in range %}
							<option value="{{ forloop.counter }}"{% if producto.cantidad == forloop.counter %} selected{% endif %}>{{ forloop.counter }}</option>
							{% endfor %}
							{% endwith %}
							{% if producto.stock == 0 %}
								<option selected disabled>...</option>
							{% endif %}
						</select> 
			        </div>
		        </li>
				{% endfor %}
		      </ul>
		    </div>
		</div>
		<div class="row justify-content-end">
			<div class="col-4">
				<div class="border border-secondary">
			  		<small class="text-center">Totales: {{SQLCarrito.0.total}} {{local}}</small>
			  		<hr>
			  		<small class="text-center">Descuentos: {{SQLCarrito.0.descuento}} {{local}}</small>
			  		<hr>
			  		<small class="text-center">Subtotal: {{SQLCarrito.0.totalfinal}} {{local}}</small>
			  		<hr>
			  		<h6 class="text-center">Total:</h6>
			  		<div class="border border-secondary">
			  			<h6 class="text-center"> {{SQLCarrito.0.totalfinal}} {{local}}</h6>
		  			</div>
		  			<button type="button" class="btn bg-primary mt-2 mb-2 text-white">Confirmar compra</button>
		  		</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/carrito.js' %}"></script>
{% endblock %}