{% extends 'barraMenu.html' %}
{% load static %}
{% block principal %}
	<div class="container">
		<br>
		<ul class="nav nav-tabs nav-fill">
			<li class="nav-item">
			  <a class="nav-link{% if tab == 'todos' %} active{% endif %}" href="../catalogo">Todos</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link{% if tab == 'cuerda' %} active{% endif %}" href="../catalogo/cuerda">Instrumentos de cuerda</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link{% if tab == 'percusion' %} active{% endif %}" href="../catalogo/percusion">Percusión</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link{% if tab == 'amplificadores' %} active{% endif %}" href="../catalogo/amplificadores">Amplificadores</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link{% if tab == 'accesorios' %} active{% endif %}" href="../catalogo/accesorios">Accesorios</a>
			</li>
		  </ul>
		<div class="row w-100 mx-0">
			{% for producto in SQLProductos %}
		  	<div class="card col-6 col-lg-3 my-2 mx-0">
			    <img src="/media/{{producto.foto}}" class="card-img-top img-fluid" alt="...">
			    <div class="card-body">
				      <a href="../detalleproducto/{{producto.id_producto}}"><h5 class="card-title">{{producto.nombre}}</h5></a>
				      <p class="card-text">{{producto.descripcion}}</p>
				      <h5>{{producto.precio}}</h5>
				      <button type="button" class="btn bg-primary text-white" onclick="anniadir({{producto.id_producto}})">Añadir a carrito</button>
			    </div>
			</div>
			{% empty %}
				<div class="alert alert-warning w-100 text-center my-5" role="alert">
					¡No hay productos para esta categoría!
				</div>
			{% endfor %}
		</div>
		<!-- <div class="mt-4">
			<nav>
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next"><label>Siguente</label>
						<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
		 	</nav>
		</div> -->
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/catalogo.js' %}"></script>
{% endblock %}