{% extends 'barraMenu.html' %}
{% load static %}

{% block principal %}
	<div class="container border">
		<div class="row">
		  	<div class="col-7 text-right"  >
				    <img src= "{{productos.foto.url}}" style="max-height:80vh; max-width:100%">		    
			</div>
		  	<div class="col-5 p-3">
		  		<div>
					<h3>{{productos.nombre}}</h3>  
		  			<p>{{productos.descripcion}}</p>
		  		</div>
					<h5>{{productos.precio}} {{local}}</h5>
					<label class="mt-3">Cantidad:</label>
						<div class="input-group mb-3">
							<select class="custom-select" id="productoStock">
								{% with ''|center:productos.stock as range %}
								{% for numero in range %}
								<option value="{{ forloop.counter }}"{% if productos.cantidad == forloop.counter %} selected{% endif %}>{{ forloop.counter }}</option>
								{% endfor %}
								{% endwith %}
								{% if productos.stock == 0 %}
								<option selected disabled>...</option>
								{% endif %}
							</select>
							<div class="input-group-append">
								<button type="button" class="btn btn-primary text-white" onclick="anniadir({{productos.id_producto}})">Agregar a carrito</button>
							</div>
						</div>
					<div>	
					</div>
		  		</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/productosDetalle.js' %}"></script>
{% endblock %}