{% extends 'barraMenu.html' %}
{% load static %}

{% block principal %}
	<div class="container border">
		<div class="row">
		  	<div class="col-7 text-right"  >
				    <img src= "/media/{{SQLProducto.foto}}" style="max-height:80vh; max-width:100%">		    
			</div>
		  	<div class="col-5">
		  		<div>
					<h3>{{SQLProducto.nombre}}</h3>  
		  			<p>{{SQLProducto.descripcion}}</p>
		  		</div>
		  		<div class="row">
		  			<div>
		  				<h5 class="text-center">{{SQLProducto.precio}}</h5>
		  			</div>
		  			<div class="col-6">
		  				<label>Cantidad:</label>
		  				<select class="custom-select my-1 mr-sm-2" id="productoStock">
					    	{% with ''|center:SQLProducto.stock as range %}
							{% for numero in range %}
							<option value="{{ forloop.counter }}"{% if SQLProducto.cantidad == forloop.counter %} selected{% endif %}>{{ forloop.counter }}</option>
							{% endfor %}
							{% endwith %}
							{% if SQLProducto.stock == 0 %}
								<option selected disabled>...</option>
							{% endif %}
						</select>
						<button type="button" class="btn bg-primary text-white" onclick="anniadir({{SQLProducto.id_producto}})">Agregar a carrito</button>
		  			</div>
					<div>	
					</div>
		  		</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/productosDetalle.js' %}"></script>
{% endblock %}