{% extends 'barraMenu.html' %}
{% load static %}
{% block principal %}
	<div class="container">
		<h1>Promociones</h1>
		<div class="table-wrapper-scroll-y my-custom-scrollbar">
			<table class="table table-bordered table-striped mb-0">
				<thead>
					<tr>
						<th scope="col">Nombre producto</th>
						<th scope="col">Marca</th>
						<th scope="col">Modelo</th>
						<th scope="col">Tipo</th>
						<th scope="col">Código</th>
						<th scope="col">Precio</th>
						<th scope="col">Oferta</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for promo in SQLPromo %}
					<tr>
						<th scope="row">{{promo.nombre}}</th>
						<td>{{promo.marca}}</td>
						<td>{{promo.subtipo}}</td>
						<td>{{promo.tipo}}</td>
						<td>{{promo.codigo_producto}}</td>
						<td>{{promo.precio}}</td>
						<td>{{promo.final}}</td>
						<td>n/a</td>
						<td>
							<a href="#" class="btn btn-xs btn-success"><i class="far fa-edit"></i></a>
							<a href="#" class="btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>		
	</div>
{% endblock %}