

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6f82a0622c.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1>Reporte de ventas</h1>
    
    <div class="container mt-5">
        {% for ventas in SQLVentas %}
        <ul>
        <div class="row border border-dark">
            <div class="col-2 border border-dark">
                <img src="" alt="Logo" />
            </div>
            <div class="col-6 border border-dark">
                <h3>{{ventas.id_venta}}</h3>
                <p>{{ventas.id_cliente}}</p>
                <p>{{ventas.Fecha}}</p>
                <p>{{ventas.descuento}}</p>
                <p>{{ventas.id_sucursal_retiro}}</p>
                <p>{{ventas.mail}}</p>
            </div>
            <div class="col-2 border border-dark">
                <h5>{{venta.total}}</h5>
            </div>
            <div class="col-2">
                <a href="#" class="btn btn-xs btn-success"><i class="fas fa-edit"></i> VER DETALLE</a>
            </div>
        </div>
        </ul>
        {% endfor %}
    </div>
    
</body>
</html>