{% extends 'barraMenu.html' %}
{% load static %}
{% block principal %}
    <div class="container">
        <h1>Reporte log uwu</h1>
        <div class="table-wrapper-scroll-y my-custom-scrollbar border border-dark">
            
            <table class="table table-bordered table-striped ">
                <thead class="">
                    <tr class="bg-success border border-dark">
                        <th scope=col class="border border-dark">Fecha</th>
                        <th scope=col class="border border-dark">Hora</th>
                        <th scope=col class="border border-dark">Usuario</th>
                        <th scope=col class="border border-dark">Accion</th>
                        <th scope=col class="border border-dark">Descipcion</th>
                        <th scope=col class="border border-dark">Opciones</th>
                    </tr>
                </thead>
                {% for ... in ... %}
                <tbody class="table-warning">
                    <tr>
                        <td class="border border-dark">{{%d/%m/%Y}}</td>
                        <td class="border border-dark">{{%H:%M:%S}}</td>
                        <td class="border border-dark">{{usuario.nombre}}</td>
                        <td class="border border-dark">modificado</td>
                        <td class="border border-dark">descripcion</td>
                        <td class="border border-dark">
                            <a href="#" class="btn btn-xs btn-success"><i class="fas fa-edit"></i> Analizar</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            
        </div>
    </div>
{% endblock %}