{% extends 'barraMenu.html' %}
{% load static %}
{% block principal %}
    <h1>Reporte de ventas</h1>
    
    <div class="container mt-5">
        {% for ventas in SQLVentas %}
        <ul>
        <div class="row border border-dark">
            <div class="col-6 border border-dark">
                <h3>Nº folio: {{ventas.id_venta}}</h3>
                <p>ID cliente:{{ventas.id_cliente}}</p>
                <p>Fecha: {{ventas.fecha}}</p>
                <p>Descuento realizado: {{ventas.descuento}}</p>
                <p>Sucursal: {{ventas.id_sucursal_retiro}}</p>
                <p>correo electronico: {{ventas.mail}}</p>
            </div>
            <div class="col-3 border border-dark">
                <h5>Total pagado: {{ventas.total}}</h5>
            </div>
            <div class="col-3">
                <a href="#" class="btn btn-xs btn-success"><i class="fas fa-edit"></i> VER DETALLE</a>
            </div>
        </div>
        </ul>
        {% endfor %}
    </div>
{% endblock %}