<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6f82a0622c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h1>Reporte log uwu</h1>
        <div class="table-wrapper-scroll-y my-custom-scrollbar border border-dark">
            
            <table class="table table-bordered table-striped ">
                <thead class="">
                    <tr class="bg-success border border-dark">
                        <th scope=col class="border border-dark">Fecha</th>
                        <th scope=col class="border border-dark">Hora</th>
                        <th scope=col class="border border-dark">Usuario</th>
                        <th scope=col class="border border-dark">Accion</th>
                        <th scope=col class="border border-dark">Descipcion</th>
                        <th scope=col class="border border-dark">Opciones</th>
                    </tr>
                </thead>
                {% for ... in ... %}
                <tbody class="table-warning">
                    <tr>
                        <td class="border border-dark">{{%d/%m/%Y}}</td>
                        <td class="border border-dark">{{%H:%M:%S}}</td>
                        <td class="border border-dark">{{usuario.nombre}}</td>
                        <td class="border border-dark">modificado</td>
                        <td class="border border-dark">descripcion</td>
                        <td class="border border-dark">
                            <a href="#" class="btn btn-xs btn-success"><i class="fas fa-edit"></i> Analizar</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            
        </div>
    </div>
</body>
</html>