{% extends 'barraMenu.html' %}
{% load static %}
{% block principal %}
	<div class="container">
		<h1>Ventas</h1>
		<div class="table-wrapper-scroll-y my-custom-scrollbar">
			<table class="table table-bordered table-striped mb-0">
				<thead>
					<tr>
						<th scope="col">Codigo</th>
						<th scope="col">Cliente</th>
						<th scope="col">Monto</th>
						<th scope="col">Rut</th>
						<th scope="col">DV_rut</th>
						<th scope="col">Telefono</th>
						<th scope="col">Mail</th>
						<th scope="col">Estado</th>
						<th scope="col">Opciones</th>
					</tr>
				</thead>
				<tbody>
					{% for xxx in xxx %}
					<tr>
						<th scope="row">1</th>
						<td>Nombre</td>
						<td>Precio</td>
						<td>19023654</td>
						<td>5</td>
						<td>945215475</td>
						<td>Potosucio@gmail.com</td>
						<td>Pendiente</td>
						<td>
							<a href="#" class="btn btn-xs btn-info"><i class="far fa-eye"></i> Ver</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>		
	</div>
{% endblock %}