{% extends 'barraMenu.html' %}
{% load static %}
{% block principal %}
	<div class="container">
		<h1>Ventas</h1>
		<div class="table-wrapper-scroll-y my-custom-scrollbar">
			<table class="table table-bordered table-striped mb-0">
				<thead>
					<tr>
						<th scope="col">Pedido</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Fecha</th>
						<th scope="col">Hora</th>
						<th scope="col">Tipo</th>
						<th scope="col">Estado</th>
						<th scope="col">Encargado</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for xxx in xxx %}
					<tr>
						<th scope="row">1</th>
						<td>Pedido_1</td>
						<td>Cantidad_1</td>
						<td>Fecha_1</td>
						<td>Hora_1</td>
						<td>Retiro_1</td>
						<td>Usuario_1</td>
						<td>
							<a href="#" class="btn btn-xs btn-success"><i class="fas fa-edit"></i> Editar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>		
	</div>
{% endblock %}