{% extends 'barraMenu.html' %}
{% load static %}
{% block principal %}
    <div class="container">
    <h1>Ventas datos</h1>
    <hr>
        <form action="#">
            <fieldset>
                <legend>MusicPro</legend>
                <div class="container border">
                    <div class="container table-bordered mt-3">
                        <div class="row">
                            <div class="radio col-3">
                                <p class="dropdown-divider"></p>
                                <input type="radio" name="tipo_entrega" id="despacho_domicilio">
                                <label for="despacho_domicilio">Despacho a domicilio</label>
                                <br>
                                <input type="radio" name="tipo_entrega" id="retiro_tienda">
                                <label for="retiro_tienda">Retiro en tienda</label>
                            </div>
                            <div class="container col-6 float-right">
                                <p class="dropdown-divider"></p>
                                <label for="direccion">Direccion:</label>
                                <input placeholder="{{SQLVentDat}}" id="direccion" type="text" name="direccion">
                                <br>
                                <label for="sucursal">Sucursal:</label>
                                <select name="sucursal">
                                    <option>sucursal_1</option>
                                    <option>sucursal_2</option>
                                    <option>sucursal_3</option>
                                    <option>sucursal_4</option>
                                    <option value="" selected="selected">Selecciona sucursal</option>
                                </select>
                                <br>
                                <label for="comuna">Comuna:</label>
                                <select name="comuna">
                                    <option>Comuna_1</option>
                                    <option>Comuna_2</option>
                                    <option>Comuna_3</option>
                                    <option>Comuna_4</option>
                                    <option>Comuna_5</option>
                                    <option>Comuna_6</option>
                                    <option>Comuna_7</option>
                                    <option>Comuna_8</option>
                                    <option>Comuna_9</option>
                                    <option>Comuna_10</option>
                                    <option>Comuna_11</option>
                                    <option>Comuna_12</option>
                                    <option>Comuna_13</option>
                                    <option>Comuna_14</option>
                                    <option>Comuna_15</option>
                                    <option>Comuna_16</option>
                                    <option value="" selected="selected">Selecciona comuna</option>
                                </select>
                            </div><br>
                        </div>
                    </div><br>
                    <div class="container table-bordered">
                        <div>
                            <td>
                                <p class="dropdown-divider"></p>
                                <a href="#" class="ml-5 btn btn-success"><i class="far fa-credit-card"></i></a>
                                <a href="#" class="ml-5 btn btn-success"><i class="fas fa-credit-card"></i></a>
                                <a href="#" class="ml-5 btn btn-success"><i class="far fa-money-bill-alt"></i></a>
                            </td>
                        </div>
                        <div class="ml-3 radio">
                            <input class="ml-4" type="radio" name="tipo_pago" id="debito">
                            <label for="debito">Débito</label>
                            <input class="ml-3" type="radio" name="tipo_pago" id="credito">
                            <label for="credito">Crédito</label>
                            <input class="ml-3" type="radio" name="tipo_pago" id="tranferencia">
                            <label for="tranferencia">Tranferencia</label>
                        </div>
                    </div><br>
                    <div class="container col-5">
                        <div class="container border col-5 mb-3 text-center">
                            <small>Totales: {{SQLVentDat.0.total}} {{local}}</small>
                            <hr>
                            <small>Descuentos: {{SQLVentDat.0.descuento}} {{local}}</small>
                            <hr>
                            <small>Subtotal: {{SQLVentDat.0.totalfinal}} {{local}}</small>
                            <hr>
                            <h6>Total:</h6>
                            <div class="border border-secondary">
                                <h6> {{SQLVentDat.0.totalfinal}} {{local}}</h6>
                            </div>
                            <button type="submit" class="btn btn-primary m-2" name="submit">Pagar</button>
                            <p class="dropdown-divider"></p>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
