{% extends 'barraMenu.html' %}
{% load poll_extras %}
{% load static %}
{% block principal %}
<div class="container">
    <h1>Ventas datos</h1>
    <hr>
    <fieldset>
        <legend>MusicPro</legend>
        <div class="container border">
          <div class="row">
            <div class="col-9">
                <div class="container table-bordered mt-3">
                    <div class="row">
                        <div class="radio col-5">
                            <p class="dropdown-divider"></p>
                            <input type="radio" name="tipo_entrega" id="despacho_domicilio">
                            <label for="despacho_domicilio">Despacho a domicilio</label>
                            <br>
                            <input type="radio" name="tipo_entrega" id="retiro_tienda">
                            <label for="retiro_tienda">Retiro en tienda</label>
                        </div>
                        <div class="container col-5 float-right">
                            <p class="dropdown-divider"></p>
                            <label for="direccion">Direccion:</label>
                            <input placeholder="{{SQLVentDat}}" id="direccion" type="text" name="direccion">
                            <br>
                            <label for="sucursal">Sucursal:</label>
                            <select name="sucursal">
                                <option>sucursal_1</option>
                                <option>sucursal_2</option>
                                <option>sucursal_3</option>
                                <option>sucursal_4</option>
                                <option value="" selected="selected">Selecciona sucursal</option>
                            </select>
                            <br>
                            <label for="comuna">Comuna:</label>
                            <select name="comuna">
                                <option>Comuna_1</option>
                                <option>Comuna_2</option>
                                <option>Comuna_3</option>
                                <option>Comuna_4</option>
                                <option>Comuna_5</option>
                                <option>Comuna_6</option>
                                <option>Comuna_7</option>
                                <option>Comuna_8</option>
                                <option>Comuna_9</option>
                                <option>Comuna_10</option>
                                <option>Comuna_11</option>
                                <option>Comuna_12</option>
                                <option>Comuna_13</option>
                                <option>Comuna_14</option>
                                <option>Comuna_15</option>
                                <option>Comuna_16</option>
                                <option value="" selected="selected">Selecciona comuna</option>
                            </select>
                        </div><br>
                    </div>
                </div><br>
                <div class="container table-bordered text-center">
                    <div>
                        <td>
                            <p class="dropdown-divider"></p>
                            <a href="#" class="ml-5 btn btn-success"><i class="fas fa-credit-card"></i></a>
                            <a href="#" class="ml-5 btn btn-success"><i class="far fa-money-bill-alt"></i></a>
                        </td>
                    </div>
                    <div class="ml-3 radio">
                        <input class="ml-4" type="radio" name="tipo_pago" id="webpay">
                        <label for="webpay">WebPay</label>
                        <input class="ml-3" type="radio" name="tipo_pago" id="tranferencia">
                        <label for="tranferencia">Tranferencia</label>
                    </div>
                </div><br>
            </div> 
            <div class="col-3">
                <div class="border ml-4 mb-3 mt-3 text-center">
                    <small class="text-center">Totales: {{total|conversion:local}} {{local}}</small>
			  		<hr>
					{% if usuario.suscrito %}
					<small class="text-center">Descuento: {{total|minus:descuento|conversion:local}} {{local}}</small>
					{% else %}
					<small class="text-center">Descuento: 0,0 {{local}}</small>
					{% endif %}
					<hr>
					{% if usuario.suscrito %}
					<small class="text-center">Subtotal: {{descuento|conversion:local}} {{local}}</small>
					{% else %}
					<small class="text-center">Subtotal: {{total|conversion:local}} {{local}}</small>
					{% endif %}
			  		<hr>
			  		<h6 class="text-center">Total:</h6>
			  		<div class="border bg-light">
						{% if usuario.suscrito %}
						<h6 class="text-center">{{descuento|conversion:local}} {{local}} -> {{descuento}} CLP</h6>
						{% else %}
						<h6 class="text-center">{{total|conversion:local}} {{local}} -> {{total}} CLP</h6>
						{% endif %}
		  			</div>
                    <form action="{{ response.url }}" method="POST">
                        <input type="hidden" name="token_ws" value="{{ response.token }}">
                        <button type="submit" class="btn btn-primary m-2" name="submit">Pagar</button>
                        <p class="dropdown-divider"></p>
                    </form>
                </div>
            </div>
          </div>
        </div>
    </fieldset>
</div>
{% endblock %}
